.App {
  text-align: center;
}
.fonttype{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 60px;
  color: #121f57;
}
.body-font{
  font-family: Arial, Helvetica, sans-serif;
}
.landing-page {
  position: relative;
  height: 100vh;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/background.jpg'); /* replace 'path_to_your_image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
  opacity: 0.3; /* adjust as needed */
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text-section {
  text-align: center;
}

.rounded-button {
  border-radius: 20px; /* Adjust as needed */
  margin-top: 20px; /* Adjust as needed */
}
